<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
</head>

<body>
    <div style="width: 200px">
        {% for c in comments %}
        <div style="margin-top: 10px; border: 1px solid;">
            <p>{{ c.text }}</p>
            <hr>
            <p>{{ c.date_posted }}</p>
            <a href="{% url 'comments:update' c.id %}">Editar</a>
            <form action="{% url 'comments:delete' c.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Borrar</button>
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>