{% extends "base.html" %}
{% block content %}
    {% for e in elements %}
        <table>
            <tr>
                <th>Título</th>
                <th>Categoría</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <td>{{ e.title }}</td>
                <td>{{ e.category.title }}</td>
                <td>{{ e.type }}</td>
                <td>{{ e.price }}</td>
                <td>{{ e.created }}</td>
            </tr>
        </table>
    {% endfor %}
    {% include 'partials/pagination.html' with page_obj=elements %}
{% endblock %}

